
:root{
  /* --primary-color:#9a1b39; */
  --primary-color:#dc5675;
  --secondary-color:#7dc444;
}
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* .............. common styles ........................ */
.section-1,.section-2,.section-3,.section-4,.section-5,.section-6{
    padding: 50px 0;
}
body{
  width: 100%;
  overflow-x: hidden;
  overflow: hidden;
}
html{
  width: 100%;
  overflow-x: hidden;
}
header{
    padding: 0 100px;
}
*{
    font-family: "Oswald", sans-serif;
}
@media screen and (max-width:765px) {
  .hide-on-sm{
    display: none !important;
  }
}
@media screen and (max-width:992px) and (min-width:765px) {
  .hide-on-md{
    display: none !important;
  }
}
@media screen and (min-width:992px) {
  .hide-on-lg{
    display: none !important;
  }
}
/*==================================================================
                        animations
==================================================================*/
@keyframes nav {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}   

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            border-radius: 0 0 20px 20px;
    opacity: 1;
  }
  99% { 
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            border-radius: 0 0 20px 20px;
    opacity: 0;
  }
  100%{
    transform: translateY(-1000px);
    border-radius: 0  0 20px 20px;
    display: none;
  }
}







/*==================================================================
                        social media div
==================================================================*/
.sc-media-cnct-div{
  padding: 20px 0;
}
.sc-media-cnct-div .sc-media{
  display: flex;
  justify-content: flex-end;
ul{
  margin:0;
  padding:0;
  display:flex;
}
ul li {
  list-style:none;
}
ul li a {
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:center;
  text-decoration:none;
  color:#bc939d;
  margin: 0 8px;
  transition:.5s;
}
ul li a span {
  position:absolute;
  transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
  width:100%;
  height:2px;
  background:#bc939d;
}
ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
  width:2px;
  height:100%;
  background:#404040;
}
ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

ul li a:hover {
  color: var(--primary-color);
}
ul li a:hover span { 
  background: var(--primary-color);
}

}
/*==================================================================
                        social media div END
==================================================================*/



/*==================================================================
                        navbar
==================================================================*/
header .navbar{
    background-color: white;
    .logo-img{
        height: 50px;
    }
    .navbar-nav{
        justify-content: space-evenly;
        width: 100%;
    }
    .nav-link{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: rgb(0 0 0 / 72%);
        letter-spacing: 1px;
    }
}
header .navbar.scrolled{
  position: fixed;
  top: 0;
  background: var(--primary-color);
  z-index: 9999;
  width:100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  border-radius: 0 0 10px 10px;
  padding: 20px 30px;
  box-shadow: 0px 2px 2px 1px #0000006e;
  animation: nav 0.5s ease-out both;
  .container-fluid{
    animation: nav 0.5s ease-out both;
    animation-delay: 0.2s;
  }
  .logo-img{
    content: url(../img/logo/archidecorsa-logo-white.png);
  }
  .nav-link{
    color: white;
  }
}
@media screen and (max-width:992px) {
header{
  padding: 0 10px;
}
header .navbar{
    background-color: white;
    border-radius: 0 0 10px 10px; 
    z-index: 999;
    .logo-img{
        height: 50px;
    }
    .navbar-nav{
        justify-content: space-evenly;
        width: 100%;
    }
    .nav-link{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: rgb(0 0 0 / 72%);
        letter-spacing: 1px;
    }
}
header .navbar{/* sandwitch icon in navbar */

  .sandwitch-icon {
    margin: 8px;
    background: var(--primary-color);
    border-radius: 10px;
    width: 64px;
    height: 64px;
    overflow: hidden;
  }
  
  .sandwitch-icon:active {
    transform: translateY(2px);
    color: #fff;
  }
  .sandwitch-icon a:visited {
    color: rgba(250, 250, 255, 1);
  }
}
/* ...... collapse navbar ....... */
.navbar-collapse{
  display: none;
}
header .navbarCollapseMd{/* navlinks */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
  color: white;
  background-color: var(--primary-color);
  z-index: 111;
  justify-content: center;
  align-items: center;
  text-align: center;
	animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  ul{
    width: 100%;
  }
  .nav-link{
    color: white;
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 1px;
  }
}
header .navbarCollapseMd.show{
  display: flex;
  overflow: scroll;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

}
/*==================================================================
                        navbar END
==================================================================*/



/*==================================================================
                        banner slider
==================================================================*/

h2 {
      line-height:1.1;
}
.hero-slider {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}
@media screen and (min-width:992px) {
    .hero-slider .theme-btn-s2,.hero-style .slide-title h2,.hero-slider p{
      margin-left: 50px !important;
    }
  
}
@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-slider {
    height: 500px;
  }
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

@media screen and (min-width: 992px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
/*     display: none; */
  }
}
.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;
 
}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
  height: 90vh;
  transition:all .4s ease;
  border-radius: 15px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .hero-style {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style{
    height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .hero-style .container {
    padding-top: 95px;
  }
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 690px;
}

.hero-style .slide-title h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition:all .4s ease;
}

@media (max-width: 1199px) {
  .hero-style .slide-title h2 {
    font-size: 60px;
  }
}

@media (max-width: 991px) {
  .hero-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title h2 {
    font-size: 30px;
    margin: 0 0 30px;
  }
}

.hero-style .slide-text p {
  opacity: 0.8;
  font-family: Rajdhani;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition:all .4s ease;
}

@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color: #ffffff;
    font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color:#2b3b95;
    padding: 9px 32px;
    border: 0; 
  border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    line-height: initial;
  transition:all .4s ease;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;
}
.theme-btn-s2{
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--primary-color);
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background-color:var(--secondary-color) ;
    color: #fff;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px){
  .theme-btn, .theme-btn-s2, .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px){
  .theme-btn, .theme-btn-s2{
    padding: 13px 20px;
    font-size: 13px;
  }
}
/*==================================================================
                        banner slider END
==================================================================*/





/*==================================================================
                        section-1 about
==================================================================*/
.section-1{
  width: 100%;
  overflow-x: hidden;
  padding: 80px 0;
  .cnt-col{
    display: flex;
    align-items: center;
    .cnt{
      letter-spacing: 1px;
      color: #8f8181;
    }
  }
  .img-col{
    justify-content: center;
    justify-content: center;
    display: flex;
  }
  .about-img{
    width: 80%;
    border-radius: 10px;
  }
}
/*==================================================================
                        section-1 about END
==================================================================*/


/*==================================================================
                        section-2 company details END
==================================================================*/
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.section-2{
  background-color: var(--primary-color);
  color: white;
  .row{
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .card{
    background: rgb(230 141 141 / 25%);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    height: 100%;
    width: 100%;
    width: 300px;
    cursor: pointer;
    transition: 0.4s;
    .count-digit{
      transition: --num 1s , display 0s;
      counter-set: num var(--num);
    }
    .count-digit::after {
      content: counter(num);
      opacity: 0;
      display: none;
    }
  }
  .card:hover{
    transform: translateY(-10px);
    .count-digit{
      display: none;
    }
    .count-digit{
      display: block;
      width: fit-content;
      opacity: 1;
    }
    .count-digit.a{
      --num: 20;
    }
    .count-digit.b{
      --num: 430;
    }
    .count-digit.c{
      --num: 70;
    }
    .count-digit.d{
      --num: 170;
    }
    .count-digit::after{
      opacity: 1;
      display: block;
    }
  }
}
/*==================================================================
                        section-2 company details END
==================================================================*/




/*==================================================================
                        section-3 services 
==================================================================*/
.section-3{
  padding: 80px 0;
  .head-row{
    h2{
      font-weight: bold;
      text-transform: capitalize;
      font-size: 3rem;
    }
    @media screen and (max-width:765px) {
      h2{
        font-size: 5rem;
      }
    }
    .p{
      color: #8f8181;
    }
  }
  
  .item__caption-title{
    text-transform: capitalize;
  }
}
/*==================================================================
                        section-3 services END
==================================================================*/



/*==================================================================
                        section-4 projects
==================================================================*/
.section-4{
  padding: 80px 0;
  .head-row{
    h2{
      font-weight: bold;
      text-transform: capitalize;
      font-size: 3rem;
    }
    @media screen and (max-width:765px) {
      h2{
        font-size: 4rem;
      }
    }
    .p{
      color: #8f8181;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}




.section-4{

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  height: 350px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(196, 126, 126, 0) 0%,
                                               rgba(196, 126, 126, 0.009) 11.7%,
                                               rgba(196, 126, 126, 0.034) 22.1%, 
                                               rgba(196, 126, 126, 0.072) 31.2%, 
                                               rgba(196, 126, 126, 0.123) 39.4%, 
                                               rgba(196, 126, 126, 0.182) 46.6%, 
                                               rgba(196, 126, 126, 0.249) 53.1%, 
                                               rgba(196, 126, 126, 0.32) 58.9%, 
                                               rgba(196, 126, 126, 0.394) 64.3%, 
                                               rgba(196, 126, 126, 0.468) 69.3%, 
                                               rgba(196, 126, 126, 0.54) 74.1%, 
                                               rgba(196, 126, 126, 0.607) 78.8%, 
                                               rgba(196, 126, 126, 0.668) 83.6%, 
                                               rgba(196, 126, 126, 0.721) 88.7%, 
                                               rgba(196, 126, 126, 0.762) 94.1%, 
                                               rgba(196, 126, 126, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.row .col-md-6:nth-child(1) .card:before {
  background-image: url(../../info/Blue\ Bell\ Commercial.jpeg);
}
.row .col-md-6:nth-child(2) .card:before {
  background-image: url(../../info/IBIS\ HOTEL.jpg);
}
.row .col-md-6:nth-child(3) .card:before {
  background-image: url(../../info/L-OCCITANE.png);
}
.row .col-md-6:nth-child(4) .card:before {
  background-image: url(../../info/STARBUCKS.jpg);
}
.row .col-md-6:nth-child(5) .card:before {
  background-image: url(../../info/TIDEL\ PARK.jpg);
}
.row .col-md-6:nth-child(6) .card:before {
  background-image: url(../../info/WEST\ ELM.png);
}
.row .col-md-6:nth-child(7) .card:before {
  background-image: url(../../info/TIDEL\ PARK.jpg);
}
.row .col-md-6:nth-child(8) .card:before {
  background-image: url(../../info/gallery.avif);
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 14px;
  line-height: 1.35;
}



@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 0.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

.card.more::before{/* card more */
  background-position: center;
}
.card.more::after{
  background-image: linear-gradient(to bottom, rgba(148, 182, 116, 0) 0%,
                                               rgba(148, 182, 116, 0.009) 11.7%,
                                               rgba(148, 182, 116, 0.034) 22.1%, 
                                               rgba(148, 182, 116, 0.072) 31.2%, 
                                               rgba(148, 182, 116, 0.123) 39.4%, 
                                               rgba(148, 182, 116, 0.182) 46.6%, 
                                               rgba(148, 182, 116, 0.249) 53.1%, 
                                               rgba(148, 182, 116, 0.32) 58.9%, 
                                               rgba(148, 182, 116, 0.394) 64.3%, 
                                               rgba(148, 182, 116, 0.468) 69.3%, 
                                               rgba(148, 182, 116, 0.54) 74.1%, 
                                               rgba(148, 182, 116, 0.607) 78.8%, 
                                               rgba(148, 182, 116, 0.668) 83.6%, 
                                               rgba(148, 182, 116, 0.721) 88.7%, 
                                               rgba(148, 182, 116, 0.762) 94.1%, 
                                               rgba(148, 182, 116, 0.79) 100%);
}
.card.more .content{
  z-index: 18;
  margin-bottom: 10px;
}
.card.more .copy{
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.card.more .more-icon{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(2px);
  background: #74b93cbd;
}
.card.more .more-icon::before{
  content: '';
  width: 120px;
  border-radius: 3px;
  height: 6px;
  background: white;
  position: absolute;
  z-index: 19;
  transition: 0.4s;
}
.card.more .more-icon::after{
  content: '';
  height: 120px;
  border-radius: 3px;
  width: 6px;
  background: white;
  transition: 0.4s;
}

.card.more:hover{
  .more-icon::before{
    transform: rotate(90deg);
  }
  .more-icon::after{
    transform: rotate(90deg);
  }
}

}
@media screen and (max-width:765px) {
  .section-4{
    .projects-row .col-md-6{
      margin: auto;
    }
  }
}
/*==================================================================
                        section-4 projects END
==================================================================*/




/*==================================================================
                        section-5 clients
==================================================================*/
.section-5{
  .head-row{
    h2{
      font-weight: bold;
      text-transform: capitalize;
      font-size: 3rem;
    }
    @media screen and (max-width:765px) {
      h2{
        font-size: 4rem;
      }
    }
    .p{
      color: #8f8181;
    }
  }

  .col-6{
    margin-bottom: 25px;
    .card{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;
      border: 0;
      background-color: #f1ebed;
      border-radius: 10px;
      width: 100%;
      height: 180px;
      cursor: pointer;
      position: relative;
      transition: 0.4s;
      img{
        filter: invert(50%) sepia(11%) saturate(322%) hue-rotate(182deg) brightness(89%) contrast(93%);
        width: 80%;
        height: 80%;
        object-fit: contain;
        transition: 0.4s;
      }
      .pos-abs-cat{
        position: absolute;
        padding: 4px 15px;
        top: 0;
        border-radius: 0 0 10px 10px;
        background: #707580ad;
        color: white;
      }
    }
    .card:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 0px 1px #61595999;
      z-index: 1;
      img{
        filter: none;
      }
    }
  }
}
/*==================================================================
                        section-5 clients END
==================================================================*/







/*==================================================================
                        section-6 brochure-download
==================================================================*/
.section-6{
  padding: 0;
  margin-bottom: 50px;
  height: 500px;
  background: url(../img/banner/brochure-banner-bg1.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 20%;
  .container{
    z-index: 2;
    position: relative;
    height: 100%;
  }
  .img-col{
    display: flex;
    align-items: flex-end;
  }
  .img-col img{
    height: 450px;
  }

  .cnt-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title{
      color: white;
      font-size: 3rem;
      font-weight: bold;
    }
    .sub-title{
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

    .book-div{/* book */
      .card{
        background: transparent;
        border: 0;
        text-align: center;
        width: 240px;
        .img-div{
          width: 80%;
          text-align: center;
          margin: auto;
        }
        .card-title{
          font-size: 20px;
          color: white;
        }
        .download{
          border: 0;
          display: flex;
          justify-content: space-between;
          background-color: var(--secondary-color);
          color: white;
          width: fit-content;
          padding: 10px 15px;
          position: relative;
          margin: auto;
          transition: 0.4s;
          overflow: hidden;
          lord-icon{
            color: white;
          }
        }
        .download::before{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: var(--primary-color);
          z-index: -1;
          transform: translateY(100%);
          transition: 0.4s;
        }
        .download:hover{
          transform: translateY(-5px);
        }
        .download:hover::before{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
.section-6::before{
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #b9812c91;
  backdrop-filter: blur(2px);
}
@media screen and (max-width:992px) {
  .section-6{
    margin: 0 10%;
    .cnt-col{
      align-items: center;
    }
  }
}
/*==================================================================
                        section-6 brochure-download END
==================================================================*/








/*==================================================================
                        footer
==================================================================*/

.footer-section {
background: var(--primary-color);
margin: 10px;
position: relative;
border-radius: 15px;
overflow: hidden;
ul {
  margin: 0px;
  padding: 0px;
}
}
footer{
.footer-cta {
border-bottom: 1px solid #ffffff;
}
.single-cta i {
color: var(--secondary-color);
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #ffffffd1;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
text-align: center;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}

.footer-social-icons{/* social media part */
  ul{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
  }
  ul li {
    list-style:none;
  }
  ul li a {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width:30px;
    height:30px;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:#bc939d;
    margin: 0 8px;
    transition:.5s;
  }
  ul li a span {
    position:absolute;
    transition: transform .5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3){
    width:100%;
    height:2px;
    background:#bc939d;
  }
  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4){
    width:2px;
    height:100%;
    background:#404040;
  }
  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
  ul li a:hover {
    color: white;
  }
  ul li a:hover span { 
    background: white;
  }
}

.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: var(--secondary-color);
}
.footer-widget ul li {
margin-bottom: 12px;
color: #ffffffd1;
}
.footer-widget ul{
  list-style-type: none;
}
.footer-widget ul li a:hover{
opacity: 1;
}
.footer-widget ul li a {
color: #ffffffd1;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
opacity: 1;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
}

footer .footer-widget.a{/* footer a tag hover */
  a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  a::before,
  a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  a::before {
    background-color: #ffffff;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #ffffff;
  }
  
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  
  a {
    text-decoration: none;
    color: #ffffffd1;
    vertical-align: top;
  }
}

@media screen and (max-width:765px) {
  footer{
    .footer-cta{
      display: none;
    }
  }
}